@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;500;700;900&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: #1d1d1d;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

aside{
	position: fixed;
	height: 100vh;
	left: 0;
	background:  #181818;
	width: 130px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 3;
}

.logo-box{
	width: 100%;
	height: 190px;
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.jack{
	font-weight: 900;
	font-size: 25px;
	margin-bottom: 10px;
}

.dev{
	font-size: 12px;
	color: #a5a5a5;
}

nav{
	height: 250px;
	width: 100%;
	color: rgba(144, 144, 150);
	border-top: 1px solid rgba(144, 144, 150, 0.2);
}

nav ul{
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	margin: 0;
}

nav li {
	height: calc(250px/5);
	list-style: none;
	border-bottom: 1px solid rgba(144, 144, 150, 0.2);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li a{
	text-decoration: none;
	color: #909096;
}

nav li a:hover{
	color:  #08fdd8;
}

.sites{
	height: 210px;
}

.sites ul{
	padding-inline-start: 0;
	height: 100%;
	margin-block: 0;
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
}

.sites ul li{
	list-style: none;
}

.site-item a img{
	width: 16px;
	height: auto;
}

.sound-box{
	position: fixed;
	top: 18px;
	right: 20px;
	display: flex;
	align-items: center;
	background: #191919;
	padding: 0 6px;
	border-radius: 5px;
}

.sound-box img{
	width: 30px;
	height: auto;
}

.sound-text{
	padding: 0 8px;
	color: white;
}

.off{
	color: #ff0b56;
	cursor: pointer;
}

.awaard-honor{
	position: fixed;
	right: 0;
	top: 100px;
}
main{
	width: calc(100% - 130px);
	position: relative;
	left: 130px;
	background: #1d1d1d;
	overflow-y: hidden;
}

.presentation{
	padding-left: 40px !important;
	background: #1d1d1d;
}

.tag{
	font-family: 'Marck Script', cursive;
	font-size: 18px;
	font-style: italic;
	color: #515152;
	font-weight: 500;
}

.open-tag-html{
	padding-top: 22px;
	display: block;
}

.open-tag-html::after{
	content: "<body>";
	display: block;
	width: 70px;
	margin-left: 23px;
	line-height: 23px;
}

.name-box{
	margin: 180px 0 0 25px;
	width: 80%;
	min-width: 350px;
}

.name{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	line-height: 90px;
	letter-spacing: -3px;
	color: white;
	font-size: 95px;
	margin-bottom: 0px;
}

.name::before{
	content: "<h1>";
	display: block;
	font-family: 'Marck Script', cursive;
	font-size: 18px;
	font-style: italic;
	color: #515152;
	font-weight: 500;
	line-height: 0px;
	letter-spacing: 4px;
	margin-bottom: 10px;
	background: red !important;
}

.name::after{
	content: "<h1/>";
	font-family: 'Marck Script', cursive;
	font-size: 18px;
	font-style: italic;
	color: #515152;
	font-weight: 500;
	line-height: 0px;
	letter-spacing: 3px;

}

.name strong{
	margin-left: 23px;
}

.name strong span{
	height: 30px;
	padding-top: 0;
	padding-bottom: 0;
}

.job{
	color: rgba(141, 141, 141, 0.8);
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	letter-spacing: 6px;
	font-size: 15px;
}

.job::before{
	content: "<p>";
	font-family: 'Marck Script', cursive;
	font-size: 18px;
	font-style: italic;
	color: #515152;
	font-weight: 500;
	line-height: 0px;
	letter-spacing: 3px;
	display: block;
	margin-bottom: 9px;
	margin-top: 20px;
}

.job::after{
	content: "<p/>";
	font-family: 'Marck Script', cursive;
	font-size: 18px;
	font-style: italic;
	color: #515152;
	font-weight: 500;
	line-height: 0px;
	letter-spacing: 3px;
	display: block;
	margin-top: 18px;
}

.job span{
	padding: 20px 0 30px 23px;
}

.name-box > div{
	margin: 50px 0 0 25px;
}

.btn{
	text-align: center;
	color: #08fdd8;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 3px;
	font-size: 16px !important;
	width: 215px !important;
	height: 53px !important;
	cursor: pointer;
	border: 1px solid #08fdd8;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}


.btn::before{
	content: "";
	width: 3px;
	height: 3px;
	background: #08fdd8;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.btn div{
	background: #08fdd8;
	height: 100%;
	width: 1px;
	position: absolute;
	left: 0;
	z-index: 1;
	transition: .4s width ease;
}

.btn span{
	z-index: 2;
}

.scroll-box{
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.scroll-box p{
	writing-mode: vertical-rl;
	text-orientation: mixed;
	padding: 0 10px;
	color: rgba(141, 141, 141, 1);
	color: white;

}

.scroll-box p span{
	position: relative;
	top: 0;
	transition: 1.2s top ease;
}

.scroll-box p i{
	font-size: 25px;
	margin: 0 auto;
	margin-top: 12px;
}

.description{
	width: 92%;
	margin: 120px auto 0 auto;
	position: relative;
}

.description h2{
	counter-reset: #08fdd8;
	font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: -3px;
    font-size: 55px;
    color: #08fdd8;
}

.description h2 > span{
	margin-left: 25px;
}

.description h2::before{
	content: "<h2>";
	display: block;
	font-family: 'Marck Script', cursive;
    font-size: 18px;
    font-style: italic;
    color: #515152;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.description h2::after{
	content: "<h2/>";
	display: block;
	font-family: 'Marck Script', cursive;
    font-size: 18px;
    font-style: italic;
    color: #515152;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 3px;
    margin-top: 8px;
}




/*---------------------------------------------------------------- class animation--------------------------------------------*/

.translate-bg{
	width: 100% !important;
}

.scroll-anim{
	top: 17px !important;
}